body {
  margin: 0;
  background: #0b0f14;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 220px;
  filter: drop-shadow(0 0 15px rgba(197, 161, 90, 0.4));
}

.draw {
  fill: none;
  stroke: #c5a15a;
  stroke-width: 2;

  stroke-dasharray: 400;
  stroke-dashoffset: 400;

  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
